
/* color vert
foncer : #008C40
moyen : #78FFB5
clair : #58ED9B
*/

/* color rouge
foncer : #A1271B
clair : #ED6558
*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
   font-family: "tahoma";
   src: url("../fonts/tahoma.ttf");
}
@font-face {
   font-family: "GA1R";
   src: url("../fonts/Gothic_A1/GothicA1-Medium.ttf");
}

body{
   height: 100vh;
}

.bg_svg{
   position: absolute;
   z-index: -99;
   height: 75vh;
   width: 100%;
}

.logo{
   border: 3px #008c40 solid;
   background-color: white;
   border-radius: 100%;
}

.avatar{
   border-color: white;
}

.fond-curvy{
   width: 100%;
}

h1,h2,h3,h4,h5{
   font-family: "tahoma", sans-serif;
   color: #008c40;
}

.fond-green{
   background-color: #008c40;
   border-radius: 10px;
}

font{
   font-weight: bold;
   letter-spacing: 2px;
}
p{
   font-family: "GA1R", sans-serif;
}

.container{
   max-width: 1100px !important;
}

.footer-green{
   box-shadow: 0px 0px 5px 0px #787878;
   background-color: #008c40;
}

a{
   font-size: .8rem;
}

a,.nav-link{
   color: white;
   text-decoration: none;
   font-family: "GA1R", sans-serif;
}

a:hover,.nav-link:hover,.pop:hover{
   color: white;
   text-decoration: underline;
}

.pop{
   background: none;
   border: none;
   color: white;
   font-family: "GA1R", sans-serif;
   font-size: .8rem;
}

.button,.button-inverse{
   color: white;
   background-color: #008c40;
   text-decoration: none;
   text-align: center;
   padding: 5px;
   border: 2px solid #008c40;
   border-radius: 10%;
}

.calendar {
   width: 100%;
   text-align: center;
   background-color: white;
}

.calendar th {
   width: 100%;
   color: white;
   background-color: #008c40;
}

.calendar > .fc-toolbar{
   width: 100%;
}

.btn-group{
   flex-direction: column;
   margin-bottom: 5px;
   margin-top: 5px;
}

.fc-dayGridMonth-button, .fc-timeGridWeek-button,
.fc-timeGridDay-button, .fc-next-button, .fc-prev-button,
.fc-today-button, .fc-toolbar-title{
   margin-bottom: 5px;
   border-radius: 5px !important;
   margin-left: 5px !important;
   margin-right: 5px !important;
}

.button:hover{
   background-color: white;
   border: 2px solid #008c40;
}

.button-inverse:hover{
   background-color: white;
   border: 2px solid #008c40;
   color: #008c40;
}

i{
   color: white;
}

.card{
   box-shadow: 0px 0px 3px 0px #787878;
}

.navbar{
   --mdb-navbar-box-shadow: none !important;
}

.navbar-toggler{
   border: 2px solid white !important;
   background-color: #008c40 !important;
}

.navbar-collapse{
   transition: 0.2s linear;
   background-color: #008c40;
   border-radius: 0px 0px 10px 10px;
   padding: 5px;
}

.dropdown-toggle{
   font-size: 0.7rem;
}

.dropdown-item{
   font-size: 0.8rem;
}

th {
   color: white ;
}

.th-var1 {
   color: black;
}

tr{
   font-size: 0.7rem;
}

.input-group{
   position: relative;
}

.inp{
   border: solid 1.5px #9e9e9e;
   background: none;
   color: black;
   transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lb-inp{
   position: absolute;
   left: 16px;
   color: rgba(255, 255, 255, 0);
   pointer-events: none;
   transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inp:focus{
   outline: none;
   border: 1.5px solid #008c40;
}
.inp:focus ~ label{
   transform:  translateY(-50%) scale(0.8);
   background-color: white;
   padding: 0 0.2em;
   color: #008c40;
}


.login-box form a {
   position: relative;
   display: inline-block;
   padding: 10px 20px;
   color: #008c40;
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: .5s;
   margin-top: 5px;
   letter-spacing: 4px
}

.login-box a:hover {
   background: #008c40;
   color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 5px #008c40, 0 0 5px #008c40;
}

.login-box a span {
   position: absolute;
   display: block;
}

.login-box a span:nth-child(1) {
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg, transparent, #008c40);
   animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
   0% {
      left: -100%;
   }

   50%,
   100% {
      left: 100%;
   }
}

.login-box a span:nth-child(2) {
   top: -100%;
   right: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(180deg, transparent, #008c40);
   animation: btn-anim2 1s linear infinite;
   animation-delay: .25s
}

@keyframes btn-anim2 {
   0% {
      top: -100%;
   }

   50%,
   100% {
      top: 100%;
   }
}

.login-box a span:nth-child(3) {
   bottom: 0;
   right: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(270deg, transparent, #008c40);
   animation: btn-anim3 1s linear infinite;
   animation-delay: .5s
}

@keyframes btn-anim3 {
   0% {
      right: -100%;
   }

   50%,
   100% {
      right: 100%;
   }
}

.login-box a span:nth-child(4) {
   bottom: -100%;
   left: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(360deg, transparent, #008c40);
   animation: btn-anim4 1s linear infinite;
   animation-delay: .75s
}

@keyframes btn-anim4 {
   0% {
      bottom: -100%;
   }

   50%,
   100% {
      bottom: 100%;
   }
}

.form-check-input:checked{
   background-color: #008c40;
   box-shadow: 0 0 3px 3px #05cf6095;
   border-color: white;
}

.form-control {
   font-size: .7rem;
}

.table-gray{
   --bs-table-bg: #008c40 !important;
   --bs-table-border-color: gray !important;
}

#toolbar {
   margin: 0;
}

.btn-primary{
   --bs-btn-bg: #008c40;
   --bs-btn-border-color: #008c40;
   --bs-btn-hover-bg: #006c31;
   --bs-btn-hover-border-color: #006c31;
   --bs-btn-active-bg: #006c31;
   --bs-btn-active-border-color: #006c31;
   --bs-btn-disabled-bg: #006c31;
   --bs-btn-disabled-border-color: #006c31;
}

.pagination{
   --bs-pagination-active-bg: #008c40;
   --bs-pagination-active-border-color: #008c40;
   --bs-pagination-hover-color: #008c40;
      --bs-pagination-color: #008c40;
}

.checkbox:checked{
   background-color: #008c40;
}

.text-justify {
   text-align: justify;
}

.cube-green {
   display: inline-block;
   width: 70px;
   height: 70px;
   margin: 6px;
   background-color: #008c40;
}

.cube-grey {
   display: inline-block;
   width: 70px;
   height: 70px;
   margin: 6px;
   background-color: grey;
}

.fixed-table-pagination{
   display: flex;
   justify-content: space-evenly;
}

.pagination-info{
   display: none !important;
}

.w-table{
   width: 100% !important;
}

@media only screen and (max-width: 425px){
   .fc-toolbar-title{
      display: none;
   }
   .w-table{
      width: 75% !important;
   }
}

.float-right{
   flex-direction: row !important;
}
